@inherits LayoutComponentBase

<nav>
    <h2>RulerHub</h2>
    <NavLink > Nav 1</NavLink>
</nav>
<div>
    @Body
</div>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
